/* just the extra built in css from Dr. W's current site
for safe keeping */

p{
color: #FFFFFF
}
h1, heading-size-1 {
  font-size: 2.4rem;
  font-weight: bold;
}
@media (min-width: 700px){
  h1, heading-size-1 {
    fot-size:3.6rem;
  }
}
.entry-header {
  background-color: #c8a2c8;
}
