/*How to set a different background image for each page*/
.page-id-11{ /*page id is on edit page in url, different for each page*/
  background-image: url('img url here') !important;
  background-position: center; /*or 0 50px if you need to move it below header, needs different value for different size screens*/
  background-attachment: fixed;/*default is scroll*/
  background-size: 800px 600px; /*sets size of picture, auto uses actual size of picture, needs to be resized for smaller screens*/
  background-repeat: no-repeat; /*stops the picture from repeating, make it repeat if you want to*/
}
/*image url in media library, has an item number and its own page, its got a specific number, don't mess it up*/



/* just the extra built in css from Dr. W's current site
for safe keeping */

p{
color: #FFFFFF
}
h1, heading-size-1 {
  font-size: 2.4rem;
  font-weight: bold;
}
@media (min-width: 700px){
  h1, heading-size-1 {
    fot-size:3.6rem;
  }
}
.entry-header {
  background-color: #c8a2c8 !important;
}
